[submodule "foundry-fundamentals/foundry-simple-storage-f23/lib/forge-std"]
	path = foundry-fundamentals/foundry-simple-storage-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "foundry-fundamentals/foundry-zksync"]
	path = foundry-fundamentals/foundry-zksync
	url = https://github.com/matter-labs/foundry-zksync
[submodule "foundry-fundamentals/foundry-fund-me/lib/forge-std"]
	path = foundry-fundamentals/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fundamentals/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-fundamentals/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fundamentals/foundry-fund-me/lib/foundry-devops"]
	path = foundry-fundamentals/foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-fundamentals/foundry-smart-contract-lottery-f23/lib/forge-std"]
	path = foundry-fundamentals/foundry-smart-contract-lottery-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
